/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
#header-container {
    background-color: #fff;
    border-bottom: outset ;
    padding:10px 20px;
    margin:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items:center
    
}

#user-action {
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
}

.logout {
    display: flex;
    margin: auto;
    border-radius: 100px;
}

.flow-magic {
    /* width: 241px;
    height: 130px; */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #1D3DE5;
}

.company-title {
    /* width: 311px;
    height: 76px; */
    margin-top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #1d6de5;
}


/* Home */
#home-section-container {
    display: flex;
    flex-direction: column;
    padding:20px 20px;
    margin:20px 20px;
    border: 1px solid #000;
    height: 70vh;
}

#home-section-container h2 {
    padding-bottom: 5px;;
    border-bottom: double ;
}
#application-list {
    margin-top:10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex:1;
}
.application-names {
    width: 150px;
    height: 200px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    cursor: pointer;
    margin:20px 20px;
    padding:5px 20px;
    color: #fff;
    font-size: 20px;
}

/* Screen Flow */
.application-name {
    /* padding:5px 20px; */
    margin:5px 5px;
    color: #1D54E2;
    font-size: 30px;
}
#update-flow-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#screen-flow {
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    margin:10px 20px;
    border: 1px solid #000;
    height: 60vh;

}

#screenFlow {
    background: 1px solid #000;;
}

/* Custom Node */
.custom-node {
    position: relative;
    min-width: 150px;
    background-color: #fff;
    /* display: flex;
    flex-direction: column; */
    border-radius: 7px 7px 7px 7px;
    padding-bottom: 10px;
    border: 1px solid black;
    transition: border 300ms ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height:180px;
  }

  .custom-node-header {
    flex-grow: 1;
    /* padding: 20px 12px;
    margin: 50px 16px; */
    color: #212227;
    border-radius: 7px 7px 0px 0px;
    border-bottom: #000 1px solid;
    background-color: aquamarine;
    text-align: center;
    font-weight: 600;
    font-size: 14px; 
    letter-spacing: 0.1px; 
  }
  
  .custom-node .react-flow__handle {
    top: 24px;
    right: -6px;
    width: 11px;
    height: 11px; 
    border-radius: 20px; 
    background-color: #778899;
  }


  .react-flow__edge-path {
    cursor: pointer;
    stroke-width: 2px !important;
  }
  
  #popup-container {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    margin:20px 20px;
    color: black
}

.grid-buttons {
    padding: 13px 14px;
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    z-index: 10;
  }

  
/*Login Screen*/
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.login-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}